.container{
    section{
        margin-bottom: 5rem;
    }
}

.details {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    width: min(1200px, 100%);

}

.info{
    width: min(400px, 100%);
    >*{
        width: 100%;
    }
    h2{
        margin-bottom: 60px;
    }
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 2rem;
    justify-content: space-between;

    >*{
        flex: 1;
    }

    :last-child{
        flex-grow: 1;
        min-width: 100%;
    }
}



.form{
    margin: 0;
    form{
        width: min(1200px, 100%);
        >div{
            margin: 3rem 0;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            >*{
                flex: 1;
                background-color: #f8f8f8;
                color: #747474;
                padding: .63rem 1.25rem;
                border: 0;
                font-size: .88rem;
                line-height: 2.14;
                border-bottom: 1px solid transparent;
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            }
        }
        button{
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: .81rem;
            padding: 1.56rem 4.75rem;
            line-height: 1.23;
            color: #fff;
            background-color: #2b2b2b;
            transition: all 0.3s ease-out;
        }
        button:disabled {
            background-color: #a4a4a4;
            opacity: 0.7;
            cursor: not-allowed;
            pointer-events: none;
        }
        button:hover{
            scale: 1.1;
        }
    }
}