.container {
    section {
        padding: 5rem 0;
        @media screen and (max-width: 750px) {
            padding-bottom: 0;
        }
    }
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        width: 90%;
    }

    >div {
        margin: 5rem 0;
        width: min(800px, 90%);
        display: flex;
        gap: 5rem;

        >* {
            flex: 1;
        }

        img {
            height: 500px !important;
        }

        h4 {
            margin-bottom: 1.74rem;
            font-size: 1.5rem;
        }

        p {
            line-height: 1.75;
            font-size: 1rem;
            margin-bottom: 1.88rem;
        }

        @media screen and (max-width: 750px) {
            flex-direction: column;
            .content{
                margin-top: 500px;
                margin-bottom: 0;
            }
        }
    }
}


